DB_USERNAME_NONROOT=theuser
DB_PASSWORD_NONROOT=thepassword
DB_USER=theuser
DB_PASS=thepassword
# DB_HOST value it can be 'localhost' or 'db' depends how service is running, use localhost e.g. from IDE
# use db for docker containers
DB_HOST=db
DB_PORT=3306
DB_NAME=singlethreadeddb