<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBatchServiceApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <envs>
      <env name="DB_HOST" value="localhost" />
      <env name="DB_NAME" value="singlethreadeddb" />
      <env name="DB_PASSWORD" value="" />
      <env name="DB_PASSWORD_NONROOT" value="thepassword" />
      <env name="DB_PORT" value="3306" />
      <env name="DB_USERNAME" value="root" />
      <env name="DB_USERNAME_NONROOT" value="theuser" />
    </envs>
    <module name="single-threaded-spring-batch-service" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.fronzec.singlethreaded.SpringBatchServiceApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>